@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center-left">
    <div class="gradient-box text-center">
        <h1 class="display-4 fw-bold custom-font">German</h1>
        <h1 class="display-4 thin-text custom-font">Motors</h1>
        <a href="#" class="btn btn-custom mt-4">Contact Us</a>
    </div>
</div>

