@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="d-flex justify-content-between align-items-center ">
    <!-- Left Box -->
    <div class="gradient-box text-center">
        <h1 class="display-4 fw-bold custom-font">German</h1>
        <h1 class="display-4 thin-text custom-font">Motors</h1>
        <a href="#" class="btn btn-custom mt-4">Contact Us</a>
    </div>

    <!-- Right Box -->
    <div class="gradient-grey-box text-center">
        <h1 class="display-4 fw-bold custom-font">Delodur</h1>
        <h1 class="display-4 thin-text custom-font">Corp.</h1>
        <a href="#" class="btn btn-custom-grey mt-4">Contact Us</a>
    </div>
</div>


